@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --bs-font-sans-serif: "Manrope", sans-serif;

  --bs-body-bg: #f4f4f4;
  --bs-body-bg-rgb: 244, 244, 244;

  --bs-body-color: #2a2a3c;
  --bs-body-color-rgb: 42, 42, 60;

  --bs-secondary-color: #646488;
  --bs-secondary-color-rgb: 100, 100, 136;

  --bs-link-color: #0e7ad0;
  --bs-link-color-rgb: 14, 122, 208;
}
